body {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    gap: 0.5em;
    margin: 0;
}

header {
    grid-area: header
}

nav {
    grid-area: nav
}

main {
    grid-area: main
}

footer {
    grid-area: footer
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    background-color: lightcoral;
    color: black;
    padding: 1em;
}

nav {
    grid-area: nav;
    padding: 1em 3em;
    border: none;

    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 0;
    padding: 0;
}

nav ul {
    transition: gap 0.2s ease;
}

nav ul:hover {
    gap: 2.4em;
}

nav ul {
    padding: 0.5em 1.5em;
    border-radius: 30px;
    background: rgba(240, 128, 128, 0.5);
    backdrop-filter: blur(10%);
}

nav li {
    margin: 0;
}

nav a {
    color: black;
    font-weight: bold;
    font-size: 0.9rem;

    background-color: lightcoral;
    padding: 0.3em 0.6em;
    border-radius: 4px;
}

nav a:hover {
    text-decoration: underline;
    color: white;
}

footer {
    background-color: #f0f0f0;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid black;
    display: block;
    margin: 0 auto;
}