body {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    gap: 0.5em;
    margin: 0;
}

header {
    grid-area: header;
    text-align: center;
    border: 3px solid black;
    border-radius: 8px;
    background-color: lightcoral;
    color: black;
    padding: 1em;
}

nav {
    grid-area: nav;
    padding: 1em 3em;
    border: none;
    position: sticky;
    top: 0;
    z-index: 1000;
}

main {
    grid-area: main
}

footer {
    grid-area: footer;
    background-color: #f0f0f0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 0;
    transition: gap 0.2s ease;
    padding: 0.5em 1.5em;
    border-radius: 30px;
    background: rgba(240, 128, 128, 0.5);
    backdrop-filter: blur(10%);
}

nav ul:hover {
    gap: 2.4em;
}

nav li {
    margin: 0;
}

nav a {
    color: black;
    font-weight: bold;
    font-size: 0.9rem;

    background-color: lightcoral;
    padding: 0.3em 0.6em;
    border-radius: 4px;
}

nav a:hover {
    text-decoration: underline;
    color: white;
}

.attractions li {
    text-align: center;
    margin: 1em auto;
    padding: 1em;
    border: solid black;
    border-radius: 10px;
    max-width: 400px;
    list-style: none;

}

.attractions img {
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    border: solid black;

}

.attractions a {
    display: block;
    transition: 0.3s;
}

.attractions a:hover {
    transform: scale(1.02);
}

article {
    background-color: #fff5f5;
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    margin: 2em auto;
    max-width: 500px;
    display: block;
}